{% extends "base.html.twig" %}

{% block categorieBlock %}
    {% for cat in categories %}
        <li><a href="{{ path('list', {'categorie' : cat}) }}">{{ cat }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    {% stylesheets filter='cssrewrite, scssphp'
    'css/description.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <h3 class="desctitle">{{ action }} d'un lieu</h3></br></br>
    {{ form(form) }}
{% endblock %}
