{% extends "base.html.twig" %}

{% block content %}
    <h3>{{ lieux|length }} lieux trouvés</h3>
    {% if categorie is defined %}
        pour la  categorie: {{ categorie.pathEndIdentifier() }}
    {% endif %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="success">
                <th>ID</th>
                <th>nom</th>
                <th>categorie</th>
                <th>latitude</th>
                <th>longitude</th>
            </tr>
            </thead>
            <tbody>
            {% for lieu in lieux %}
            <tr>
                <td><a href="#">{{ lieu.id }}</a></td>
                <td>{{ lieu.nom }}</td>
                <td>{{ lieu.categorie.pathEndIdentifier() }}</td>
                <td>{{ lieu.latitude }}</td>
                <td>{{ lieu.longitude }}</td>
            </tr>
            {% else %}
            <tr><td>Pas d'établissements encore</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
