{% extends "base.html.twig" %}

{% block categorieBlock %}
    {% for cat in categories %}
        <li><a href="{{ path('list', {'categorie' : cat}) }}">{{ cat }}</a></li>
    {% endfor %}
{% endblock %}

{% block content %}
    {% stylesheets filter='cssrewrite, scssphp'
    'css/description.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
    <h1 class="text-center lieutitle">{{ lieu.nom }}</h1>
    </br></br>
    <h4><span class="desctitle">Categorie:</span> <span> {{ lieu.categorie }}</h4>
    <h4><span class="desctitle">Latitude :</span> <span> {{ lieu.latitude }}</h4>
    <h4><span class="desctitle">Longitude :</span> <span> {{ lieu.longitude }}</h4>
    {% if desc.adresse is not empty %}
        <h4><span class="desctitle">Adresse :</span> <span>{{ desc.adresse }}</span></h4>
    {% endif %}
    {% if desc.email is not empty %}
        <h4><span class="desctitle">Email :</span> <span> {{ desc.email }}</span></h4>
    {% endif %}
    {% if desc.numTel is not empty %}
        <h4><span class="desctitle">NumTél :</span> <span> {{ desc.numTel }}</span></h4>
    {% endif %}
    {% if desc.presentation is not empty %}
        <h4><span class="desctitle">Présentation :</span> <span> {{ desc.presentation }}</span></h4>
    {% endif %}
    </br></br>
    <a class="btn btn-warning btn-block" href="{{ path('edit', {'id' : lieu.id }) }}">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"> Modifier</span>
    </a>
    </br>
    <a class="btn btn-danger btn-block" href="{{ path('delete', {'id' : lieu.id }) }}">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"> Supprimer</span>
    </a>
{% endblock %}
