<!DOCTYPE html>
<html lang="fr">
<head>
    <title>CityPocket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% stylesheets filter='cssrewrite, scssphp'
    'css/bootstrap.min.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">
                <span><img src="{{ asset('img/logomenu_mini.png') }}"/></span>
                City Pocket
            </span>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('list') }}">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            Liste
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false"><span class="glyphicon glyphicon-search"></span> Categorie <span
                                    class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% block categorieBlock %}{% endblock %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('create') }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            Ajouter un lieu
                        </a>
                    </li>
                </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-log-out"></span>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
